apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: sky
data:
  user: sky 
  database: sky
  jaeger_service_name: hypixel-skyblock-core
  jaeger_agent_host: jaeger-agent.observability.svc.cluster.local
  jaeger_sampling_host: http://jaeger-agent.observability.svc.cluster.local:5778/sampling
  reload_config_on_change: "false"
  kafka_host: kafka-helm.kafka.svc.cluster.local
  redis_host: redis-service

  # kafka topics
  topic_missing_auction-raw: sky-canceledauction-raw
  topic_sold_auction-raw: sky-soldauction-raw
  topic_new_auction-raw: sky-newauction-raw
  topic_auction_ended-raw: sky-endedauction-raw
  topic_new_bid-raw: sky-newbid-raw
  topic_bazaar-raw: sky-bazaar-raw

  topic_missing_auction: sky-canceledauction
  topic_sold_auction: sky-soldauction
  topic_new_auction: sky-newauction
  topic_auction_ended: sky-endedauction
  topic_new_bid: sky-newbid
  topic_bazaar: sky-bazaar
  topic_flip: sky-topic-flip